body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container{
	display: block; 
	position: relative;
	max-width: 1040px; 
	margin: 0 auto; 
	padding: 0px 20px; 
}

.container:before,
.container:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.container:after {
   clear:both; 
}

img{
	max-width: 100%;
}

h1,h2,h3,h4,h5,h6{
	margin: 0 0 20px;
	line-height: 1;
}

p{
	margin: 0 0 20px;
}

a{
	text-decoration: none; 
	color: $pink;
}

a:hover{
	text-decoration: underline; 
}

@mixin one-cols{
	.col{
		float: left;
		width: 100%;
		max-width: 1000px;
	}
}


@mixin two-cols{
	.col{
		float: left;
		width: 100%;
		max-width: 490px;
		margin-right: 20px;
		@media (max-width: 1040px){
			width: 49%; 
			max-width: 100%; 
			margin-right: 2%;
		}
		@media (max-width: 767px){
			width: 100%; 
			margin-right: 0%;
			margin-bottom: 20px; 
		}
	}
	.last.col{
		margin: 0px;
	}

	.col img{
		@media (max-width: 767px){
			width: 100%; 
		}
	}

}


@mixin three-cols{
	.col{
		float: left;
		width: 100%;
		max-width: 320px;
		margin-right: 20px;
	}
	.last.col{
		margin-right: 0px;
	}
}

@mixin four-cols{
	.col{
		float: left;
		width: 100%;
		max-width: 235px;
		margin-right: 20px;
		@media (max-width: 1040px){
			width: 23%;
			max-width: 100%;
			margin-right: 2.5%; 
		}
		@media (max-width: 767px){
			width: 100%;
			max-width: 100%;
			margin-bottom: 20px;
			margin-right: 0%; 
		}
	}
	.last.col{
		margin-right: 0px;
		@media (max-width: 767px){
			margin-bottom: 0px;
		}
	}
	
}