.icon-blocks-3{

	@include three-cols;
	position: relative;
	margin-top: -30px;
	z-index: 1;
	padding-bottom: 40px;

	@media (max-width: 1040px){
		margin-top: 0; 

		.container{
			padding: 0;
		}
	}

	@media (max-width: 767px){
		padding-bottom: 0px; 
	}

	.col{
		max-width: 333px; 
		margin: 0;
		padding: 20px;
		color: #fff; 
		text-align: center;
		@media (max-width: 1040px){
			max-width: 33.3333333%
		}
		@media (max-width: 767px){
			max-width: 100%
		}
	}
	h2{
		margin: 0 0 cmd20px; 
		line-height: 1;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 22px;
	}
	i{
		font-size: 130px; 
		line-height: 0.2;
		@media (max-width: 1040px){
			font-size: 86px;
		}
	}
	img{
		display: block; 
		margin: 0 auto 20px;
	}
	a{
		display: block;
		width: 120px;
		color: #fff;
		text-transform: uppercase;
		font-weight: 600;
		text-decoration: none;
		border: 1px solid #fff;
		margin: 0 auto; 
		padding: 10px;
		line-height: 1;

	}
	.pink{
		background-color: $pink;
	}
	.light-pink{
		background-color: $light_pink;
	}
	.yellow{
		background-color: $yellow; 
	}
}

.icon-blocks-4{
	@include four-cols;

	background-color: $pink;
	padding: 30px 0px 40px; 
	text-align: center;
	line-height: 1;

	.col{
		color: #fff;
		padding: 20px;
		border: 2px solid $light_pink;
		@media(max-width: 768px){
			padding: 18px;
		}
	}
	img{
		margin-bottom: 20px;
	}
	h3{
		color: #fff;
		font-weight: 900;
		font-size: 28px; 
		margin: 0 0 25px; 
		text-transform: uppercase;
	}
	h3:after{
		display: block;
    	content: ' ';
    	background-color: #f4c100;
   		width: 70px;
   		height: 2px;
    	margin: 20px auto 0;
	}
	h4{
		margin: 0 0 5px;
	}
	i{
		font-size: 60px;
	}
	p{
		font-weight: 600; 
		margin: 0;
		line-height: 1.4;
	}
}
